body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: url("https://media.istockphoto.com/id/1419844586/vector/stem-blue-horizontal-frame-vector-education-bright-illustration.jpg?s=612x612&w=0&k=20&c=-A1eYLYulujNsiM26lkVy7qMT_Hp82N5EtKHSFRmigk=");
  width: 400px;
  height: 400px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 100px);
  grid-row: repeat(7, 50px);

  border-radius: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.zero {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  background-color: transparent !important;
  font-size: 40px;
  overflow: hidden;
  width: 100% !important;
}
.equals {
  grid-column-start: 3;
  grid-column-end: 5;
  width: 180px !important;
}
.container div {
  background-color: rgb(210, 178, 241);
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
}
